<h1 class="mat-typography">Travcorp Tech Test</h1>
<div>
  <h4>Instructions</h4>
</div>
<div>
  <ul>
    <li>Display Price in Proper format (eg £1287.40)</li>
    <li>Implement the refresh button</li>
    <li>Order rooms in ascending price order</li>
    <li>
      Display friendly board basis names (eg Half Board, Room Only, All
      Inclusive)
    </li>
    <li>Order hotels in ascending price order (based off cheapest room)</li>
    <li>Display star rating as characters eg *****)</li>
  </ul>
</div>
<app-hotel></app-hotel>
